# Database URL
DATABASE_URL=postgresql+psycopg://crumb:crumb@127.0.0.1:5432/crumb

# API Settings
API_V1_STR=/api/v1
CORS_ALLOWED_ORIGINS=http://localhost:5173 # Provided you're using Crust
CRUMB_API_KEY=api-key-to-be-used-for-authentication

# LLM API key
GOOGLE_API_KEY=your-google-api-key-here